@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fcffff;
}

.main {
  padding: 0px 10%;
  margin-top: 40px;
}

@media only screen and (min-width: 1500px) {
  .main {
      padding: 0px 25%;
  }
}
