.homeWrapper {
    display: flex;
}

.leftContent {
    width: 70%;
}

.rightContent {
    width: 30%;
    padding-left: 50px;
}

@media (max-width:700px) {
    .homeWrapper {
        flex-direction: column-reverse;
    }

    .leftContent {
        width: 100%;
    }
    
    .rightContent {
        width: 100%;
        padding-left: 0px;
    }
}

.interactiveWrapper {
    border-radius: 5px;
    background-color: #f0f0f0;
    padding-left: 15px;
}

.badgePrefix {
    font-size: 18px;
}

.badgeInput {
    margin-top: 15px;
    font-size: 18px;
    border: none;
    padding: 1px;
    background: none;
    border-radius: 5px;
    color: #00979D;
    margin-bottom: 13px;
}

.badgePostfix {
    font-size: 18px;
}

.badgeImg {
    border: none;
    padding: none;
    margin: none;
    margin-left: 10px;
    margin-top: 15px;
}

.badgeWrapper {
}

.markdownCode {
    text-align: justify;
    font-size: 18px;
    color: rgb(0, 87, 90);
    background-color: #f0f0f0;
    padding: 10px;
}

.homeSpan {
    font-weight: bold;
}