.libItemWrapper {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px 2px;
    margin: 5px 0px;

    display: flex;
    width: 100%;

    color: black;
}

.linkLibWrapper {
    text-decoration: none;
}

.leftColoredTag {
    background-color: red;
    width: 10px;
    margin: -2px;
    margin-right: 4px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;

    background-color: #00979D;
}

.spanLibName {
}

.spanVersion {

}