@import url('https://fonts.googleapis.com/css?family=Roboto');

.appHeader {
    height: 110px;
    background-color: #00979D;
    display: flex;
}
  
.appTitle {
    padding: 40px;
    padding-left: 20px;
    margin: 0px;
    color: white;
    font-size: 2.5rem;
}

.topright {
    margin-left: 30px;
    margin-top: 40px;
}